<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>one</key>
	<string>BlocksVC</string>
	<key>two</key>
	<string>TestVC</string>
	<key>Three</key>
	<string>Test2VC</string>
</dict>
</plist>
